<h1 class="text-center mb-3">{{title}}</h1>
<form ref='uploadForm' id='uploadForm' action='/upload' method='post' encType="multipart/form-data" class="text-center">
    <input type="file" name="sampleFile" class="btn btn-secondary btn-block" />
    <br>
    <input type='submit' value='Upload!' class="btn btn-success"  />
</form>
<br>
<table class="table table-hover">
    <tbody>
        {{#each filelist}}
        <tr>
            <form action="/downloadFile/:{{this}}" method="get">
                <td>{{this}}</td>
                <td> <input type="submit" value="download" class="btn btn-primary btn-block"></td>
            </form>
        </tr>
        {{/each}}
    </tbody>
</table>